@spartacus:registry=https://73554900100900004337.npmsrv.base.repositories.cloud.sap/

//73554900100900004337.npmsrv.base.repositories.cloud.sap/:_auth=MDAwMTU3NzI4MS1NZXJuaXo6eGFUeW1BTmpxOEhVRGZPQ1U3b0w0WWg5Z2tNZ3dhdVI=

always-auth=true